@model Job_Application_Tracker.Models.Entities.Contact

<form asp-action="Add" asp-controller="Contact" method="post">
    <partial name="~/Views/Contact/Partials/_AddOrEditLayout.cshtml" data="@Model" />

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>