@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Companies</h1>
    <div class="row mt-5 ml-3 mr-3 d-flex">
        <div class="w-25 text-left">
            <input type="text" id="compSearch" onkeyup="doSearch()" placeholder="Search by name.." />
        </div>
        <div class="ml-auto">
            <a asp-action="Create" asp-controller="Company">Create New</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div id="CompanyList"></div>
        </div>
    </div>
</div>

@section Header {
    
<environment names="Debug,Development">
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
</environment>
<environment names="Staging,Production">
    <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
</environment>
<script src="https://kit.fontawesome.com/43e0625ede.js" crossorigin="anonymous"></script>

}

@section Scripts {

<script src="~/js/React/companyTable.jsx"></script>
<script type="text/javascript" src="js/moment.js"></script>
<!-- Adapted from https://www.w3schools.com/howto/howto_js_filter_table.asp -->
<script type="text/javascript">


    window.onload = function () {
        $("#compSearch").val("");
    }

    function doSearch() {
        var search = $("#compSearch");
        var searchterm = search.val().toUpperCase();
        var table = $("#companyTable");
        var rows = table.children("tbody").children("tr");

        for (var i = 0; i < rows.length; i++) {
            var row = $(rows[i]);
            var td = $(row.children("td")[0]);
            if (td) {
                var companyName = td.html().trim();
                if (companyName.toUpperCase().indexOf(searchterm) > -1) {
                    row.show();
                } else {
                    row.hide();
                }
            }
        }
    }
</script>


}